@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{
    margin: 0;
    padding: 0;

}
.logo{
    /* margin-top: 381px; */
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.logo img{
    width: 20%;
    border: 3px solid gray;
    border-radius: 50px;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    /* cursor: pointer; */
}

.nav-list{
    width: 70%;
    display: flex;
    align-items: center;

}

.nav-list li{
    list-style: none;
    padding: 26px 30px;

}

.nav-list li a {
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
}
.nav-list li a:hover{
    color: grey;
}

.rightNav{
    width: 30%;
    text-align: right;
    padding: 0 23px 5px;
}
#search{
    padding: 5px;
    font-size: 12px;
    border: 2px solid grey;
    border-radius: 9px;
}

.background{
    background: rgba(0, 0, 0, 0.7) url('sun.jpg');
    background-size: cover;
    background-blend-mode: darken;
    height: 50px;
}
.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 50%;
    margin: auto;
    height: 80%;

}
.firstSection{
    height: 100vh;
}
.firstHalf{

    width: 80%;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.secondHalf{
width: 30%;

}
.secondHalf img{
    width: 70%;
    border: 5px solid white;
    border-radius: 150px;
    display: block;
    margin: auto;
}

.text-big{
    font-size: 41px;

}

.text-small{
font-size: 18px;
}
.btn{
    padding: 8px 20px;
    margin: 7px 5px;
    border: 2px solid white;
    border-radius: 8px;
    background: none;
    color: white;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
font-size: 20px;
}

.btn-sm{
    padding: 5px 10px;
    font-size: 11px;
}

.btn-dark{
    color: black;
    border: 2px solid gray;
    font-size: 15px;
}

.section{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    margin: auto;
    font-family: 'Ubuntu', sans-serif;

}

.paras{
    padding: 0px 25px;
}

.sectionLeft{
    flex-direction: row-reverse;
}

.sectionSubTag{
    padding: 1px 0px;
}
.sectionSubTag{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.thumbnail img{
    width: 250px;
    border: 2px solid black;
    border-radius: 25px;
    margin-top: 19px;
}
.contact{
    background-color:#d7d7d7;
    height: 530px;
    padding: 35px;
}
.text-center{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: center;
    padding: 10px 0;

}

.form{
    max-width: 1000px;
    margin: 42px auto;
    padding: 5px;
}

.form-input{
    margin: 6px 0;
    padding: 5px 2px;
    width: 100%;
    font-size: 19px;
    border: 2px solid gray;
    border-radius: 6px;
}

.text-footer{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: center;
    padding: 16px 0;
    color: white;
}

.burger{
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 15px;
    display: none;
}

.line{
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 5px 3px;
}
@media only screen and (max-width: 1140px){
    .nav-list{
        flex-direction: column;
        padding-top: 376px;

    }

    .navbar{
        flex-direction: column;
        /* height: 450px; */
    }
    .rightNav{
        text-align: center;
    }
    #search{
        width: 100%;
    }
    
    
.burger{
    display: block;
}
.h-nav-resp{
    height: 72px;
}
.v-class-resp{
    opacity: 0;
}

}